################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BabysitterKata/.vs/BabysitterKata/v15
/BabysitterKata/BabysitterKata/obj
/BabysitterKata/BabysitterKata/bin/Debug/netcoreapp2.1
/BabysitterKata/RateCalculatorTestSuite/bin/Debug/netcoreapp2.1
/BabysitterKata/RateCalculatorTestSuite/obj
/BabysitterKata/.vs/BabysitterKata/DesignTimeBuild
